@model Manage_Deck___PMS.Models.Task

@{
    ViewData["Title"] = "Create";
}


<div class="" id="addtask" tabindex="-1" role="dialog" style="opacity: 1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Add New Task</h6>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="TaskName" class="control-label"></label>
                                <input asp-for="TaskName" class="form-control" />
                                <span asp-validation-for="TaskName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="TaskDescription" class="control-label"></label>
                                <input asp-for="TaskDescription" class="form-control" />
                                <span asp-validation-for="TaskDescription" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Label" class="col-md-3 col-form-label"></label>
                                <div class="col-md-7">
                                    <select asp-for="Label" asp-items="Html.GetEnumSelectList<LabelType>()" class="form-control show-tick">
                                        <option selected="selected" value="">Please select</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Label" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="DueDate" class="control-label"></label>
                                <input asp-for="DueDate" class="form-control" />
                                <span asp-validation-for="DueDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Assignee" class="control-label"></label>
                                <input asp-for="Assignee" class="form-control" />
                                <span asp-validation-for="Assignee" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Reporter" class="control-label"></label>
                                <input asp-for="Reporter" class="form-control" />
                                <span asp-validation-for="Reporter" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ProjectId" class="control-label"></label>
                                <span asp-validation-for="ProjectId" class="text-danger"></span>
                                <select asp-for="ProjectId" asp-items="@(new SelectList(ViewBag.Projects,"ProjectId","ProjectName"))" class="form-control show-tick">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
