@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "_LoginLayout";
}

<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="card-body">
                <div class="display-3 text-muted mb-5"><i class="si si-exclamation"></i> 403 </div>
                <h1 class="h3 mb-3">Oops.. You do not have permission to access this page...</h1>
                <a class="btn btn-primary" href="javascript:history.back()"><i class="fa fa-arrow-left mr-2"></i>Go back</a>
            </div>
        </div>
    </div>
    <div class="auth_right full_img"></div>
</div>